/*html, body {
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	overflow:hidden;
}*/

section {
	float:left;
	display:block;
	height:100%;
	padding:0;
	margin:0;
}

#section-section1 {
	background-image: url('images/fotos/rsz-CIMG6881.JPG');
}
#section-section2 {
	background-image: url('images/fotos/rsz-CIMG6882.JPG');
}
#section-section3 {
	background-image: url('images/fotos/rsz-CIMG6883.JPG');
}
#section-section4 {
	background-image: url('images/fotos/rsz-CIMG6884.JPG');
}
#section-section5 {
	background-image: url('images/fotos/rsz-CIMG6885.JPG');
}
#section-section6 {
	background-image: url('images/fotos/rsz-CIMG6886.JPG');
}
#section-section7 {
	background-image: url('images/fotos/rsz-CIMG6887.JPG');
}
#section-section8 {
	background-image: url('images/fotos/rsz-CIMG6888.JPG');
}
#section-section9 {
	background-image: url('images/fotos/rsz-CIMG6889.JPG');
}
#section-section10 {
	background-image: url('images/fotos/rsz-CIMG6890.JPG');
}

.horizon-prev, .horizon-next {
//position: fixed;
position: absolute;
top: 50%;
margin-top: -24px;
z-index: 9999;
}
.horizon-prev {
left: 20px;
}
.horizon-next {
right: 20px;
}